body {
	background: url("http://lyingdown.github.io/lyingdown/images/stripes.png") repeat-x, url("http://lyingdown.github.io/lyingdown/images/background.jpg") no-repeat #525a6a;
	background-size: auto, cover;
	color: #fff;
	font-family: helvetica, sans-serif;
}

section {
	margin:200px 0 0 100px;
}

hr {
	background: #fa6e6e;
	border: 0 none;
	height: 2px;
	margin: 0;
	width: 50px;
}

#appstorebutton {
	width: 185;
}
