body {
	background: url("http://lyingdown.github.io/lyingdown/images/stripes.png"), url("images/cupcake_background.jpg");
	background-color: #fff;
	background-position: left top, right bottom;
	background-repeat: repeat-x, no-repeat;
	background-size: 500px, 1000px;
	color: #fff;
	font-family: helvetica;
}

section {
	margin-top: 200px;
	margin-left: 100px;
}

h1 {
	font-family: "Pacifico", serif;
}

hr {
	background: #fa6e6e;
	border: 0 none;
	color: #fa6e6e;
	height: 2px;
	margin: 0;
	padding: 0;
	width: 50px;
}

footer {
	margin-top: 100px;
	margin-left: 700px;
	font-size: 8pt;
	width: 185;
	height: 56;
}