body {
	background: url("http://lyingdown.github.io/lyingdown/images/stripes.png"), url("http://lyingdown.github.io/lyingdown/images/cupcake_background.jpg");
	background-color: #fff;
	background-position: left top, cover;
	background-repeat: repeat-x, no-repeat;
	background-size: 500px, cover;
	color: #fff;
	font-family: helvetica;
}

section {
	text-align: center;
}

h1 {
	font-family: "Pacifico", serif;
	font-size: 80pt;
}

hr {
	background: #fff;
	border: 0 none;
	color: #fff;
	height: 2px;
	width: 50px;
}

footer {
	margin-top: 100px;
	text-align: right;
	font-size: 8pt;
	width: auto;
}