body {
	background: url("http://lyingdown.github.io/lyingdown/images/stripes.png"), url("http://lyingdown.github.io/lyingdown/images/cupcake_background.jpg");
	background-color: #fff;
	background-position: left top, cover;
	background-repeat: repeat-x, no-repeat;
	background-size: 500px, cover;
	color: #fff;
	font-family: helvetica;
}

#cupcakelogo {
	width:100px;
	margin: 20px;
}

section {
	text-align: center;
}

.bodytext {
	background-color: rgba(0,0,0,0.5);
	font-family: "Montserrat", sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px;
}

h1 {
	color: #ff2f00;
	font-family: "Pacifico", serif;
	font-size: 80pt;
	margin-bottom: 30px;
	margin-top: 0px;
}

.paragraphtext {
	text-align: left;
}

hr {
	background: #fff;
	border: 0 none;
	color: #fff;
	height: 2px;
	width: 50px;
}

footer {
	font-size: 8pt;
	margin-top: 100px;
	text-align: right;
	width: auto;
}