body {
	background: url("http://lyingdown.github.io/lyingdown/images/stripes.png"), url("http://lyingdown.github.io/lyingdown/images/background.jpg");
	background-color: #525a6a;
	background-position: left top, right bottom;
	background-repeat: repeat-x, no-repeat;
	background-size: 500px, 1000px;
	color: #fff;
	font-family: helvetica;
}

section {
	margin-left: 100px;
	margin-top: 200px;
}

hr {
	background: #fa6e6e;
	border: 0 none;
	color: #fa6e6e;
	height: 2px;
	margin: 0;
	width: 50px;
}

#appstorebutton {
	width: 185;
	height: 56;
}
