body {
  background-image: url('http://lyingdown.github.io/lyingdown/unit6/images/historic_lake_effect_anthony_quintano.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: #b23e30;
}

h3 {
	color: rgb(146,255,199);
}

#message {
  background-color: rgba(66,178,121,0.5);
  margin: 50px auto;
  padding: 50px;
  width: 750px;
}