body {
  background-image: url('http://lyingdown.github.io/lyingdown/unit6/images/after_the_snow_simon_laroche.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
