body {
  background-image: url('http://lyingdown.github.io/lyingdown/unit6/images/historic_lake_effect_anthony_quintano.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
