* { margin:0; padding:0; box-sizing:border-box; }

a {
  color: #fff;
}

a:hover {
  color: #000;
  background-color: #fff;
  opacity: 0.7;
}

body {
  background: #fff;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
  color: #fff;
}

header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 10em;
  color: #b23e30;
  text-transform: uppercase;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

h2 {
  font-family: 'Neucha', sans-serif;
  font-size: 3em;
}

h3 {
  color: rgb(66,178,121);
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

div {
}
  
span {
  border: 0px;
  margin: 0px;
}

section {
  
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10vh; 
}

.cardsquare {
  text-align: center;
  width: 33%;
  height: 33vw;
  display: inline-block;
  padding-top: 10vw;
  float: left;
}

.mini {
  width: 10vh;
  height: 10vh;
}

.cardfrontsection {
  background-image: url('../images/white_bg2.png');
  height: 5vh;
}

#christmascard {
  background-image: url('../images/winter_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

#newyearscard {
  background-image: url('../images/newyears.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

#holidayscard {
  background-image: url('../images/holidays.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

#chanukahcard {
  background-image: url('../images/chanukah.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

#ramadancard {
  background-image: url('../images/ramadan.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

#temp1 {
  background-color: #fff;
  height: 100%;
  float: left;
  width:303px;
}

#temp2 {
  height: 100%;
  float: left;
  width: 750px;
}

#temp3 {
  background-color: #fff;
  height: 100%;
  float: left;
  width: 295px;
}

/*
.cardpanel {
  display: inline-block;
  float: left;
  height: 95vh;
  width: 20%;
}

.cardgrid {
  float: left;
  height: 95vh;
  width: 60%;
}

.cardbuffer {
  background-color: blue;
  border: 1px solid black;
}

.cardcorner {
  height: auto;
  display: inline-block;
  float: left;
  width: 20%;
}

#cardmiddlepanel {
  width: 100px;
  height: 650px;
}

#cardleftpanel {
  background-image: url('../images/left_brace.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 370px;
  min-width: 170px;
  max-height: 650px;
}

#cardrightpanel {
  background-image: url('../images/right_brace.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  max-width: 370px;
  min-width: 170px;
  max-height: 650px;
}
*/

#cardscallop {
  background-image: url('../images/scallop.png');
  background-repeat: repeat-x;
  height: 10px;
}

.insidecard {
  height: 90vh;
  margin-top: 10vh;
}

#christmas {
  background: rgb(178,62,48);
}

#holidays {
  background: rgb(255,134,120);
}

#chanukah {
  background: rgb(146,255,199);
}

#ramadan {
  background: rgb(66,178,121);
}

#newyears {
  background: rgb(85,85,85);
}

#getthecode {
  background: rgb(239,239,239);
  color: #000;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}