* { margin:0; padding:0; box-sizing:border-box; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

header{
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #b23e30;
  text-align: center;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

div {
}
  
span {
  border: 0px;
  margin: 0px;
}

.cardsquare {
  text-align: center;
  width: 33vw;
  height: 33vw;
  display: inline-block;
  padding-top: 10vw;
}

#christmas {
  background: rgb(178,62,48);
}

#holidays {
  background: rgb(255,134,120);
}

#chanukah {
  background: rgb(146,255,199);
}

#ramadan {
  background: rgb(66,178,121);
}

#newyears {
  background: rgb(0,0,0);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

section {
  
}

footer {
  
}

h2 {
  
}

ul {
  
}

li {
  
}